.container {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .container-2 {
    display: flex;
    max-width: 900px;
    background: wh ite;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    margin: 100px;
  }
  .left {
    flex: 1;
    background: linear-gradient(135deg, #3a3a6c, #7878b2);
    color: white;
    text-align: center;
    padding: 20px;
    line-height: 1.5;
  }
  .left img {
    max-width: 300px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .right {
    flex: 1;
    padding: 40px;
    background-color: white;
  }
  .right img {
    max-width: 100px;
    margin-bottom: 20px;
  }
  .right h2 {
    color: #2c2c54;
    margin-bottom: 10px;
  }
  .right p {
    color: #757575;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .right input[type="text"],
  .right input[type="email"],
  .right input[type="password"],
  .right select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline-color: #2c2c54;
  }
  .right .forgot-password {
    text-align: right;
    margin-bottom: 20px;
  }
  .right .forgot-password a {
    color: #2c2c54;
    text-decoration: none;
  }
  .right input[type="submit"] {
    width: 100%;
    padding: 10px;
    background: #2c2c54;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .right input[type="submit"]:hover {
    background: #1e1e3c;
  }
  .right .register {
    text-align: center;
    margin-top: 20px;
  }
  .right .register a {
    color: #2c2c54;
    text-decoration: none;
  }